<mat-toolbar color="primary">
  <label>BSL India</label>

  <span class="toolbar-spacer"></span>
  <button mat-button routerLink='/home'>Home</button>
  <button mat-button routerLink='/inventory'>Inventory</button>
  <button mat-button routerLink='/sales'>Sales</button>
  <button mat-button routerLink='/reports'>Reports</button>
  <button mat-icon-button><i class="material-icons">settings</i></button>
  <button mat-icon-button><i class="material-icons">power_settings_new</i></button>

</mat-toolbar>

<router-outlet></router-outlet>
